*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.hero{
    background-color:  hsl(0, 0%, 98%);
    /* height: 100vh; no necesariamente */
    display: grid;
    gap: 40px;
    /* grid-template-rows: 1fr 2fr; */
    padding: 10% 5%;
    /* display: flex; */
    /* flex-direction: column; */
}

/* 
    Colores:
    - Very Dark Blue: hsl(234, 12%, 34%)
    - Grayish Blue: hsl(229, 6%, 66%)
    - Very Light Gray: hsl(0, 0%, 98%)

*/
.header__wrapper{
    /* background-color: salmon; */
}

.header__title{
    font-size: 2.95rem;
    font-weight: 200;
    color: #525064;
}

.header__owner{
    font-size: 2.9rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.header__info{
    margin: 20px 0;
    color: hsl(229, 6%, 66%);
    font-size: 1.8rem;
    font-weight: 400;
}

.cards{
    /* margin-top: 40px; */
    display: grid;
    grid-template-rows: repeat(4,250px);
    gap: 3.5rem;
}

.card__container{
    padding: 2em;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    -webkit-box-shadow: 0px 11px 20px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 11px 20px -5px rgba(0,0,0,0.45);
    box-shadow: 0px 11px 20px -5px rgba(0,0,0,0.45);
}

.card__container:nth-child(1){
    border-top: 5px hsl(180, 62%, 55%) solid;
}

.card__container:nth-child(2){
    border-top: 5px hsl(0, 78%, 62%) solid;
}

.card__container:nth-child(3){
    border-top: 5px  hsl(34, 97%, 64%)solid;
}

.card__container:nth-child(4){
    border-top: 5px hsl(212, 86%, 64%)solid;
}

.card__info{
    /* background-color: wheat; */
}

.card__title{
    font-size:2.6rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.card__description{
    font-size: 1.6rem;
    color: hsl(229, 6%, 66%);
    font-weight: 400;
}

.card__image-wrapper{
    /* background-color: salmon; */
    align-self: flex-end;
}

.card__image{
    width: 100%;
}

/* 
    Media querys
*/

@media screen and (max-width: 390px){
    .header__title{
        font-size: 2.65rem;
    }
    
    .header__owner{
        font-size: 2.6rem;
    }

    .header__info{
        font-size: 1.6rem;
    }

    .card__title{
        font-size:2.3rem;
    }
    
    .card__description{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 480px){
    .header__wrapper{
        text-align: center;
    }
    
}

@media screen and (min-width: 760px){
    .cards{
        grid-template-rows: repeat(2,250px);
        grid-template-columns: repeat(2,1fr);
        gap: 2.5rem;
    }

    .card__container{
        padding: 1em;
    }

    .hero{
        /* height: 100vh; */
        gap: 30px;
        padding: 30px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .cards{
        width: 100%;
        grid-template-rows: repeat(4,125px);
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:  ".        team  ."
                               "sup    team   calcu"
                               "sup    karma  calcu"
                               ".      karma  .";
    }

    .card__container{
        padding: 2em;
    }

    .card__container:nth-child(1){
        grid-area: sup;
    }
    
    .card__container:nth-child(2){
        grid-area: team;
    }
    
    .card__container:nth-child(3){
        grid-area: karma;
    }
    
    .card__container:nth-child(4){
        grid-area: calcu;
    }

    .header__wrapper{
        margin: 0 auto;
        width: 60%;
        max-width: 80%;
    }
    


}